<div>
	
	<!--Flavor Mixer	TODO: TAKE THIS OFF LATER
	<flavor-mixer></flavor-mixer>-->
	
	<!--Define the Container-->
	<div class="container">
		
		<!--Login Line-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h3 style='text-align: right'><a href="#/login">Login</a></h3>
		</div>

		<!--Add the Hero Image-->
		<div class="col-sm-12 col-md-12 col-lg-12" style='padding-top: 50px;'>
			<img 	src="images/Ah-nuts_logo.png" 
					alt=""
					style="display: block; margin: auto; width: 70%;">
		</div>

		<!--Find Us-->
		<div class="col-sm-12 col-md-12 col-lg-12" style='padding-top: 50px;'>
			<h1 style='text-align: center'><a href="#/find">Find Nuts</a></h1>
		</div>

		<!--Shop Us-->
		<div class="col-sm-12 col-md-12 col-lg-12" style='padding-top: 50px;'>
			<h1 style='text-align: center'>Shop Nuts</h1>
		</div>

		<!--Follow Us-->
		<div class="col-sm-12 col-md-12 col-lg-12" style='padding-top: 50px;'>
			<h1 style='text-align: center'>Follow Nuts</h1>
		</div>

		<!--Join Us-->
		<div class="col-sm-12 col-md-12 col-lg-12" style='padding-top: 50px; padding-bottom: 150px;'>
			<h1 style='text-align: center'>Join Nuts</h1>
		</div>
	</div>

</div>