<div>
	This is the iterations table
	<div class="table-condensed">
		<table class="table">
			<!--Header-->
			<tr>
				<th>Date</th>
				<th>Day Start</th>
				<th>Sales Hours Start</th>
				<th>Sales Hours End</th>
				<th>Day End</th>
				<th>Projected Hourly Sales</th>
				<th>Projected Daily Sales</th>
				<th>Acutal Hourly Sales</th>
				<th>Actual Daily Sales</th>
				<th>Equipment Assigned</th>
				<th>Personel Assigned</th>
			</tr>
			<!--Data-->
			<tr ng-repeat='instance in vm.instances'>
				<!--Date-->
				<td>
					<input type="text">
				</td>

				<!--Day Start-->
				<td>
					<input type="text">
				</td>

				<!--Sales Hours Start-->
				<td>
					<input type="text">
				</td>

				<!--Sales Hours End-->
				<td>
					<input type="text">
				</td>

				<!--Day End-->
				<td>
					<input type="text">
				</td>

				<!--Projected Hourly Sales-->
				<td>
					<input type="text">
				</td>

				<!--Projected Daily Sales-->
				<td>
					<input type="text">
				</td>

				<!--Actual Houlry Sales-->
				<td>
					<input type="text">
				</td>

				<!--Actual Daily Sales-->
				<td>
					<input type="text">
				</td>

				<!--Equipment Assigned-->
				<td>
					<input type="text">
				</td>

				<!--Personel Assigned-->
				<td>
					<input type="text">
				</td>

			</tr>
		</table>
	</div>
	
</div>
