<div>
	
	<!--General Information-->
	<div class="row">
	
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>General Information</h4>
		</div>	

		<!--Name/Title-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			Customer/Market/Event Title: 
			<input 	type="text" 
					ng-model='vm.cmeCollection[vm.focus].title'
					ng-blur='vm.update()'>
		</div>

		<!--Type-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			Type:
			<input 	type="text" 
					ng-model='vm.cmeCollection[vm.focus].type'
					ng-blur='vm.update()'>
		</div>

	</div>

	<!--Addresses-->
	<div class="row">
		
		<!--Title-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>Addresses</h4>
		</div>	
		
		<!--Location-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<strong>Location</strong>
		</div>
	
		<!--Office-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<strong>Office</strong>
		</div>

	</div>
	
	<!--Contacts-->
	<div class="row">
		
		<!--Title-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>Contacts</h4>
		</div>	
			
		<!--Mangers-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<strong>Managers</strong>
		</div>
	
		<!--Office-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<strong>Office</strong>
		</div>
	
		<!--Web & Social Media-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<strong>Web / Social Media</strong>
		</div>

	</div>

	<!--Financials-->
	<div class="row">
		
		<!--Title-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>Financials</h4>
		</div>	

	</div>

	<!--Engagements-->
	<div class="row">
		
		<!--Title-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>Engagements</h4>
		</div>	
	
		<!--Engagements-->
		<div class="col-sm-12 col-md-12 col-lg-12">
			This is the cmeEngagmentsManager
		</div>	

	</div>

</div>